body {
    font-family: "Open Sans", sans-serif;
    color:rgb(81, 41, 11);
    background-color: beige;
    text-align: center;
}

h1 {
    font-size: 350%;
    text-align: left;
    color: red;
    text-shadow: 2px 2px 2px black;
}

h1:hover{
    color: rgb(254, 38, 182)
}

img{
    text-align: left
}

figcaption span{
    font-size: .85em;
}

p#product-description {
    margin: 20px 0 20px 0;
}

div.review{
    padding: 10px;
    background-color: white;
    margin: 20px 0 20px 0;
    border-bottom: 2px solid rgb(81, 41, 11);
    border-top: 2px solid rgb(81, 41, 11);
}
