.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Permanent Marker', sans-serif;
    margin: auto 30px;
    color:rgb(80, 2, 148);
    background-color: rgb(210, 255, 210);
}

ul{
    margin: 0;
}

li{
    padding: 5px;
}

#todo-list-container{
    margin-top: 20px;
}

#completed-list{
    list-style-type: none;
}

#completed-list li {
    text-decoration: line-through;
}